In [1]:
s1_name = "Shafaat Ahmed"
s2_name = "Asad Shakil"
s3_name = "Shahzad"
s4_name = "Adnan Siddiqui"
s5_name = "Noman Farooqi"

print(s1_name)
print(s2_name)
print(s3_name)
print(s4_name)
print(s5_name)

Shafaat Ahmed
Asad Shakil
Shahzad
Adnan Siddiqui
Noman Farooqi

# List Data types
Hetrogenous data type
Dynamic Length
Dynamic memory managment

Syntax

[element,1, element2, element3...]

In [1]:
names = ["Shafaat Ahmed", "Asad Shakil", "shahzad", "adnan Siddiqui", "Noman Farooqi"]
names

['Shafaat Ahmed', 'Asad Shakil', 'shahzad', 'adnan Siddiqui', 'Noman Farooqi']

In [ ]:
# ->            0               1            2            3                4
names = ["Shafaat Ahmed", "Asad Shakil", "shahzad", "adnan Siddiqui", "Noman Farooqi"]
# >-            -5               -4           -3           -2              -1

# Extract value from interactive data type with index position
Syntex list_variable[index_number]

In [2]:
names1 = input("Please enter name with ',' saperator")

names1.split(',')

Please enter name with ',' saperatorsaleem, faheem, imaran, kamran, noman, farhan

['saleem', ' faheem', ' imaran', ' kamran', ' noman', ' farhan']

In [4]:
# ->            0               1            2            3                4
names = ["Shafaat Ahmed", "Asad Shakil", "shahzad", "adnan Siddiqui", "Noman Farooqi"]
# >-            -5               -4           -3           -2              -1

print(names[1])
print(names[-4])

Asad Shakil
Asad Shakil

In [5]:
a = [2,3,5,7,-3]
a

[2, 3, 5, 7, -3]

In [7]:
a.append(-6)
a.append("HELLO")
a

[2, 3, 5, 7, -3, -6, -6, 'HELLO']

# Slicing on list
Syntex ''' list_variable[start:end:step]
start - this number will included 
end - excluded end-1
step - sequence/gap

In [8]:
a.pop()
a

[2, 3, 5, 7, -3, -6, -6]

In [10]:
print(a[3])
print(a[-6])

7
3

In [11]:
b = ["Desktop","Laptop","Printer"]
b

['Desktop', 'Laptop', 'Printer']

In [14]:
temp = b[0]
b[0] = b[2]
b[2] = temp

b

['Desktop', 'Printer', 'Desktop']

In [26]:
c = [0,1,2,3,4,5,6,7,8,9,-1,-2]
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, -1, -2]

In [3]:
c = [0,1,2,3,4,5,6,7,8,9,-1,-2]
print(c[::])
print(c[1:-3:])
print(c[0:5:])
print(c[-5:-1:])
print(c[3:8:2])
print(c[3:5:])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, -1, -2]
[1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4]
[7, 8, 9, -1]
[3, 5, 7]
[3, 4]

In [30]:
names1 = input("Please enter name with ',' saperator")

names1.split(',')

Please enter name with ',' saperator1,2,5,8,9,2,1,3,7,0

['1', '2', '5', '8', '9', '2', '1', '3', '7', '0']

In [9]:
character = list("abcdefghijklmnopurstuvwxyz")
print(character)

counter = 0

while(counter < len(character)):
    print(character[counter])
    counter += 1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'u', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
u
r
s
t
u
v
w
x
y
z

In [6]:
characters = list("abcdefghijklmnopqrstuvwxyz")
print(characters)

counter = 0

while(counter <len(characters)):
    print(characters[counter])
    counter += 1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [20]:
a = list(range(0,17))
print(a)
print(a[::])
print(a[2:])
print(a[2:17])
print(a[2:17:])
print(a[1])
print(a[3:9])
print(a[0:15:3])

print(a[-7:])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
1
[3, 4, 5, 6, 7, 8]
[0, 3, 6, 9, 12]
[10, 11, 12, 13, 14, 15, 16]

In [24]:
a = list(range(0,17))
print(a)

print(a[:-1])
print(a[::-1])
print(a[-2:-6:-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[15, 14, 13, 12]

In [28]:
import numpy as np

a = np.arange(1,101).reshape(10,10).tolist()
a

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85, 86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

In [29]:
display(a)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65, 66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85, 86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

In [4]:
[i for i in dir(a) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [39]:
names = []
print(names)
names.append("Shafaat")
print(names)
names.append("Kamran")
print(names)

[]
['Shafaat']
['Shafaat', 'Kamran']

# End Extra Code

In [2]:
a = list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
[i for i in dir(a) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [6]:
for i in "abcdef":
    print(i)

a
b
c
d
e
f

In [7]:
for i in ["shafaat", "Kamran","Noman","Saleem"]:
    print(i)

shafaat
Kamran
Noman
Saleem

In [8]:
[i for i in "abcdef"] #comprehancive statement

['a', 'b', 'c', 'd', 'e', 'f']

In [5]:
names = []
print(names)
names.append("Shafaat")
print(names)
names.append("Kamran")
print(names)
names.append("sulaman")
print(names)

[]
['Shafaat']
['Shafaat', 'Kamran']
['Shafaat', 'Kamran', 'sulaman']

In [16]:
while True:
    names1 = input("Enter student Name | x for exit ")
    if names1 == "X" or names1 == "x" :
        break
    names.append(names1)
        
names

Enter student Name | x for exit hammad
Enter student Name | x for exit farhan
Enter student Name | x for exit nadia
Enter student Name | x for exit x

['Shafaat', 'Kamran', 'sulaman', 'pakistan', 'hammad', 'farhan', 'nadia']

In [6]:
cp_name = names #shallow copy
cp_name

['Shafaat', 'Kamran', 'sulaman']

In [19]:
cp_name = names.copy() #deep copy
cp_name

cp_name[1] = "HUMA SAEED"
cp_name

['Shafaat', 'HUMA SAEED', 'sulaman', 'pakistan', 'hammad', 'farhan', 'nadia']

In [8]:
print(names)
n = names [ : ]
n[2] = "FARMAN SAEED"

print(names)
n

['Shafaat', 'Kamran', 'sulaman']
['Shafaat', 'Kamran', 'sulaman']

['Shafaat', 'Kamran', 'FARMAN SAEED']

In [9]:
names.count("Kamran")

1

In [10]:
names.append("Aysha")
names

['Shafaat', 'Kamran', 'sulaman', 'Aysha']

In [11]:
names.append([1,2,3,4,5,6])
names

['Shafaat', 'Kamran', 'sulaman', 'Aysha', [1, 2, 3, 4, 5, 6]]

In [13]:
extra_names=("233,345,787,788")
extra_names

'233,345,787,788'

In [16]:
names.extend(extra_names)
names

['Shafaat',
 'Kamran',
 'sulaman',
 'Aysha',
 [1, 2, 3, 4, 5, 6],
 '2',
 '3',
 '3',
 ',',
 '3',
 '4',
 '5',
 ',',
 '7',
 '8',
 '7',
 ',',
 '7',
 '8',
 '8']

In [17]:
names.index("3")

6

In [18]:
names.insert(2,"Farrukh")
names

['Shafaat',
 'Kamran',
 'Farrukh',
 'sulaman',
 'Aysha',
 [1, 2, 3, 4, 5, 6],
 '2',
 '3',
 '3',
 ',',
 '3',
 '4',
 '5',
 ',',
 '7',
 '8',
 '7',
 ',',
 '7',
 '8',
 '8']

In [22]:
del names[6]
names

['Shafaat',
 'Kamran',
 'Farrukh',
 'sulaman',
 'Aysha',
 [1, 2, 3, 4, 5, 6],
 '3',
 '3',
 ',',
 '3',
 '4',
 '5',
 ',',
 '7',
 '8',
 '7',
 ',',
 '7',
 '8',
 '8']

In [23]:
c = names.pop(3)
print(c)
print(names)

sulaman
['Shafaat', 'Kamran', 'Farrukh', 'Aysha', [1, 2, 3, 4, 5, 6], '3', '3', ',', '3', '4', '5', ',', '7', '8', '7', ',', '7', '8', '8']

In [25]:
names.remove("7")
names

['Shafaat',
 'Kamran',
 'Farrukh',
 'Aysha',
 [1, 2, 3, 4, 5, 6],
 '3',
 '3',
 ',',
 '3',
 '4',
 '5',
 ',',
 '8',
 '7',
 ',',
 '7',
 '8',
 '8']

In [26]:
names.reverse()
names

['8',
 '8',
 '7',
 ',',
 '7',
 '8',
 ',',
 '5',
 '4',
 '3',
 ',',
 '3',
 '3',
 [1, 2, 3, 4, 5, 6],
 'Aysha',
 'Farrukh',
 'Kamran',
 'Shafaat']