In [5]:
a = {"fname":"Shafaat Ahmed",
     "name":"Farman Ali",
     "age":30}
print(a)

a['fname']

{'fname': 'Shafaat Ahmed', 'name': 'Farman Ali', 'age': 30}

'Shafaat Ahmed'

# Mutable

In [7]:
a = ['shafaat ahmed khan', 'ayub hashmi',30]

a[1]

'ayub hashmi'

In [8]:
a[1] = 'Ayub Siddiqui' # update/calling
a

['shafaat ahmed khan', 'Ayub Siddiqui', 30]

In [10]:
a = 'Shafaat'
print(a)

a[1]

Shafaat

'h'

In [11]:
a = 'Shafaat'
print(a)

a[1] = 'N'

print(a)

Shafaat

TypeError: 'str' object does not support item assignment

# Tuple (immutable)

In [18]:
a = ('x','y','z')

print(dir(a))

[i for i in dir(a) if "__" not in i]

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

['count', 'index']

In [21]:
a = ('x','y','z')

for i in a:
    print(i)

x
y
z

In [22]:
a[1]

'y'

In [23]:
a[-1]

'z'

In [25]:
a = ('x','y','z')

print(a)
print(id(a))
a = ('pakistan','y','z')
print(a)
print(id(a))

('x', 'y', 'z')
2408234464704
('pakistan', 'y', 'z')
2408234343424

In [14]:
import pandas as pd

data = {"roll_no":[1,4,6],
       "s_name":["Q","R","T"],
       "age":[20,45,62]}

print(data)

df = pd.DataFrame(data)
df

{'roll_no': [1, 4, 6], 's_name': ['Q', 'R', 'T'], 'age': [20, 45, 62]}

   roll_no s_name  age
0        1      Q   20
1        4      R   45
2        6      T   62

In [23]:
print('3441-289335-1' == '34412893351')
print( '0344-289335-1'.replace("-",'') == '0344-289335-1'.replace('-',''))

False
True

# Now replace index number with key
{
      * key1 : value1,
      * key2 : value2,
}

* key = str, int
* value = str, int, float, list, tuple, dict.

In [4]:
d = {
    'a' : "Pakistan",
     50 : "Hello World"
    }
print(d)
print(d['a'])
print(d[50])

{'a': 'Pakistan', 50: 'Hello World'}
Pakistan
Hello World

In [6]:
d = {
    'a' : "Pakistan",
     50 : "Hello World",
    (1,2,3,4) : "KARACHI" # wrong method
    }
print(d)
print(d['a'])
print(d[50])
print(d[1,2,3,4])

{'a': 'Pakistan', 50: 'Hello World', (1, 2, 3, 4): 'KARACHI'}
Pakistan
Hello World
KARACHI

{'fname': 'Shafaat Ahmed', 'name': 'Farman Ali', 'age': 30}

'Shafaat Ahmed'

# list
creation time
* creat list [element1, element2...]
    start **[** and end wirh **]**
    
* creat tuple (element1, element2..)
    start **(** and end with **)**
    
* creat dictionary {key1,value, key2,value..}
    start **{** and end with **}**
    
* creat set (element1, element2..)
    start **(** and end with **)**

calling time
list_var(index)
tuple_var(index)
dict_var(key)

# set

In [3]:
a = {2,4,6,4,3,2,6,1,0}
a

{0, 1, 2, 3, 4, 6}

# Dictionary

In [4]:
a = {"fname":"Shafaat Ahmed",
     "name":"Farman Ali",
     "age":30}
print(a)

a['fname']

{'fname': 'Shafaat Ahmed', 'name': 'Farman Ali', 'age': 30}

'Shafaat Ahmed'

In [12]:
course = ["AI","BI","DI"]
print(course, type(course))

course = set(course)
print(course, type(course))

course = list(course)
print(course, type(course))

course.reverse()
print(course, type(course))

['AI', 'BI', 'DI'] <class 'list'>
{'AI', 'BI', 'DI'} <class 'set'>
['AI', 'BI', 'DI'] <class 'list'>
['DI', 'BI', 'AI'] <class 'list'>

In [18]:
a = [1,2,2,2,2,3,'a','b','x'] #list
#convert into unique vlues
a = set(a)  #set unique
print(a, type(a))

#convert into list for apply my function on it
a = list(a)
print(a, type(a))

a_string = [i for i in a] # all elements
print(a_string)

a_string = [i for i in a if isinstance(i,str)] # all string
print(a_string)

a_integer = [i for i in a if isinstance(i,int)] # all integer
print(a_integer)

a = a_string + a_integer
print(a)

{1, 2, 3, 'b', 'x', 'a'} <class 'set'>
[1, 2, 3, 'b', 'x', 'a'] <class 'list'>
[1, 2, 3, 'b', 'x', 'a']
['b', 'x', 'a']
[1, 2, 3]
['b', 'x', 'a', 1, 2, 3]